header {
    background-color: #fff;
    padding: 20px;
}

body {
    margin: 0;
    background-color: #f5f8fa;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

hr {
    color: rgba(216, 216, 216, 0.3);
}

.header-logo-section .row {
    display: flex;
    align-items: center;
}

.main-container {
    margin: 40px 200px 0 200px;
}

.main-section {
    background-color: #fff;
    padding: 25px;
}

.button-container {
    background-color: #fff;
}

.main-btn {
    background-color: #45acf0;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
}

.sec-btn {
    background-color: transparent;
    color: #a0a0a0;
    padding: 10px;
    border: 1px solid #a0a0a0;
    border-radius: 8px;
}

.task-item ul {
    list-style-type: none;
    padding: 0;
}

.task-item ul li {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: 30px 0 30px 0;
}

.category-label {
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    font-size: 12px;
    margin: 0 0 0 10px;
}

.symbol {
    margin: 0 10px 0 0;
    height: 20px;
    width: 20px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    text-align: center; 
}
.check {
    color: green;
    border: 1px solid green;
}

.cross {
    color: red;
    border: 1px solid red;
}

.triangle {
    margin: 0 5px 0 0;

}

.editorial {
    background-color: #45acf0;
}

.goal {
    background-color: #9b75e5;
}

.recruiting {
    background-color: #68c0ab;
}

.mobile {
    background-color: #eca330;
}

.website {
    background-color: #d6649f;
}

.sales {
    background-color: #b0c82c;
}